:root {
  --gap: 1px;
  --main-sides: 400px;
  --pixels: 1;
  --thumb: goldenrod;
  --frame: rgb(219, 50, 50);
  --frame-shadow: rgb(173, 35, 35);
  --bg1: rgb(83, 234, 169);
  --bg2: rgb(63, 112, 129);
  font-family: "Roboto", sans-serif;
}

body,
div {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at top right, var(--bg1), var(--bg2));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--frame-shadow);
  text-align: end;
  font-size: 20px;
  margin-top: 20px;
  width: 100%;
  background: linear-gradient(
    to right,
    transparent,
    rgba(245, 222, 179, 0.437)
  );
  padding: 4px;
}
#copyright {
  margin-right: 4ch;
}

#frame {
  padding: 0 200px;

  background: var(--frame);
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}
#logo {
  color: goldenrod;
  font-size: 30px;
  text-align: center;
  width: 100%;
  padding: 15px 0 5px 0;
  font-family: "Pacifico", cursive;
}
#mainContainer {
  background: #555;
  padding: 30px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 6px 5px var(--frame-shadow);
}

#mainWrapper {
  width: var(--main-sides);
  aspect-ratio: 1/1;
}
#sliderSection {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#rangeSlider {
  -webkit-appearance: none;
  appearance: none;
  background: #55555580;
  width: 80%;
  height: 5px;
  border-radius: 2px;
  margin: 25px 0 10px 0;
}

#rangeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--thumb);
  position: relative;
}

#rangeSlider::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--thumb);
  position: relative;
}

#sliderLabel {
  color: wheat;

  text-transform: capitalize;
  font-size: 18px;
  padding-bottom: 15px;
}

.box {
  width: calc((var(--main-sides) - var(--pixels) * 1px + 1px) / var(--pixels));
  aspect-ratio: 1/1;
  background: plum;
  flex: 0 0 auto;
  transition: all 0.07s;
}

.hover {
  background: dimgray;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  gap: var(--gap);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: var(--main-sides);
  aspect-ratio: 1/1;
  gap: var(--gap);
  overflow: hidden;
}

.knobs {
  background: radial-gradient(circle at top left, white, wheat);
  position: absolute;
  bottom: 60px;
  width: 150px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 5px 8px 6px var(--frame-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}

#noFunction {
  color: var(--frame-shadow);
}

.reset {
  color: var(--frame-shadow);
  font-family: "Pacifico", cursive;
  font-size: 18px;
}

.left {
  left: 20px;
}

.right {
  right: 20px;
}

#bgAni {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cube {
  position: absolute;
  left: 5%;
  bottom: -500px;
  width: 120px;
  aspect-ratio: 1/1;
  z-index: -1;
  background: radial-gradient(transparent, rgba(255, 255, 255, 0.69));
  animation: rise 20s infinite;
}
.cube:nth-child(2) {
  left: -5%;
  width: 200px;
  animation-duration: 23s;
  animation-delay: 10s;
}
.cube:nth-child(3) {
  left: 12%;
  width: 80px;
  animation-duration: 15s;
  animation-delay: 5s;
}
.cube:nth-child(4) {
  left: 30%;
  width: 160px;
  animation-delay: 3s;
}
.cube:nth-child(5) {
  left: 40%;
  width: 60px;
  animation-duration: 12s;
}
.cube:nth-child(6) {
  left: 60%;
  width: 180px;
  animation-duration: 16s;
  animation-delay: 8s;
}
.cube:nth-child(7) {
  left: 73%;
  width: 30px;
  animation-duration: 7s;
}
.cube:nth-child(8) {
  left: 81%;
  width: 200px;
  animation-duration: 24s;
  animation-delay: 2s;
}
.cube:nth-child(9) {
  left: 89%;
  width: 40px;
  animation-duration: 13s;
  animation-delay: 12s;
}
.cube:nth-child(10) {
  left: 96%;
  animation-delay: 3s;
}

@keyframes rise {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1500px) rotate(500deg);
  }
}
